*{
    margin: 0;
    padding: 0;
}
#container{
    margin-left: 300px;
}
.profile{
    border: 3px solid black;
    margin-top: 20px;
    height: auto;
    width: 400px;
    padding-bottom: 10px;
}
.profile-info{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.input, .input-2, .input-3{
    width: 200px;
    flex: 1;
}
.input{
    margin-left: 20px;
}
.user{
    width: 500px;
}
.input-2, .input-3{
    display: flex;
    justify-content: flex-end;
}
.input-3{
    margin-right: 20px;
}
.profile-text{
    margin-left: 20px;
    margin-top: 30px;
    width: 350px;
    font-size: larger;
}
.likes, .btn{
    font-size: large;
}
.btn{
    background-color: #FFC000;
    padding: 3px 8px;
    box-shadow: 2px 2px;
}